<h1>Admin</h1>

<div ng-if="mode=='userList'">
    <h2>Users list</h2>
    <a href="" ng-click="createUserStart()" class="btn btn-success"><i class="fas fa-user-plus"></i> Create new user</a>
    <div class="input-group my-3">
        <span class="input-group-addon"><i class="fas fa-search"></i></span>
        <input type="text" ng-model="usersListFilter" class="form-control">
    </div>


    <table class="table">
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Full Name</th>
            <th>Admin</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="user in users | usersFilter : usersListFilter">
            <td>{{ user.id }}</td>
            <td>{{ user.login }}</td>
            <td>{{ user.full_name }}</td>
            <td>{{ user.admin }}</td>
            <td>{{ user.active }}</td>
            <td>
                <a href="#!/chats/{{user.id}}" class="btn btn-primary btn-sm"><i class="fas fa-check"></i></a>
                <a href="" ng-click="updateUserSelect(user.id)" class="btn btn-success btn-sm"><i class="fas fa-pencil-alt"></i></a>
                <a href="" ng-click="deleteUser(user.id)" class="btn btn-danger btn-sm"><i class="fas fa-minus"></i></a>
            </td>
        </tr>
    </table>
</div>

<div ng-show="mode!='userList'">
    <h2 ng-show="mode=='userCreate'">New user</h2>
    <h2 ng-show="mode=='userUpdate'">Update user</h2>
    <form class="">
        <input type="hidden" name="input_user_id" ng-model="input_user_id">
        <div class="form-group">
            <label>
                Login
            </label>
            <div class="input-group">
                <!--<span class="input-group-addon">1</span>-->
                <input type="text" class="form-control" name="input_user_login" ng-model="input_user_login">
            </div>
        </div>
        <div class="form-group">
            <label>
                Full name
            </label>
            <div class="input-group">
                <!--<span class="input-group-addon">1</span>-->
                <input type="text" class="form-control" name="input_user_full_name" ng-model="input_user_full_name">
            </div>
        </div>
        <div class="form-group">
            <label>
                Password
            </label>
            <div class="input-group">
                <!--<span class="input-group-addon">1</span>-->
                <input type="password" class="form-control" name="input_user_password" ng-model="input_user_password">
            </div>
            <span ng-show="mode=='userUpdate'" class="font-italic">Left it empty to don't change password</span>
        </div>
        <div class="form-group">
            <label>
                Is admin
            </label>
            <div class="input-group">
                <!--<span class="input-group-addon">1</span>-->
                <select class="form-control" name="input_user_admin" ng-model="input_user_admin">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>
                Is active
            </label>
            <div class="input-group">
                <!--<span class="input-group-addon">1</span>-->
                <select class="form-control" name="input_user_active" ng-model="input_user_active">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-show="mode=='userUpdate'">
            <label>
                Update key
            </label>
            <div class="input-group">
                <!--<span class="input-group-addon">1</span>-->
                <select class="form-control" name="input_user_update_key" ng-model="input_user_update_key">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>
            <span ng-show="mode=='userUpdate'" class="font-italic">On key update all session will be invalidated</span>
        </div>
        <button type="submit" class="btn btn-success" ng-click="formSubmit()">Store</button>
    </form>
</div>
