<h1>Chats</h1>

<div ng-show="chatId == null"  class="input-group my-3">
    <span class="input-group-addon"><i class="fas fa-search"></i></span>
    <input type="text" ng-model="usersListFilter" class="form-control">
</div>
<!--
<ul ng-show="chatId == null" class="list-group">
    <a href="#!/chats/{{user.id}}" class="list-group-item list-group-item-action justify-content-between d-flex" ng-repeat="(id, user) in users | usersFilter : usersListFilter | usersSorter">
        <span>
            {{user.full_name}}
            <span class="badge badge-info" ng-show="user.unreadMessages>0">{{user.unreadMessages}}</span>
        </span>
        <span ng-if="user.lastMessage">
            <span ng-if="user.lastMessage.read_time == null">(unread)</span>
            <span class="font-italic">({{user.lastMessage.send_time | date:'yyyy-MM-dd HH:mm:ss'}})</span>
            {{user.lastMessage.id_sender==user_id ? "ME: " : users[user.lastMessage.id_sender].full_name + ": "}}
            {{user.lastMessage.data}}
        </span>
        <span ng-if="!user.lastMessage">
            No messages
        </span>
    </a>
</ul>
-->

<ul ng-show="chatId == null" class="list-group">
    <a href="#!/chats/{{user.id}}" class="list-group-item list-group-item-action" ng-repeat="(id, user) in users | usersFilter : usersListFilter | usersSorter" ng-class="">
        <div class="justify-content-between d-flex">
            <span>
                <span>
                    <span class="fas fa-asterisk" ng-show="user.admin=='1'"></span>
                    <span class="font-weight-bold">{{user.full_name}}</span>
                    <span ng-show="user.id==user_id">(You)</span>
                    <span ng-show="user.active==0">(Unactive)</span>
                </span>
                <span class="badge badge-info" ng-show="user.unreadMessages>0">{{user.unreadMessages}}</span>
            </span>
            <span>
                <span ng-if="(user.lastMessage != null) && (user.lastMessage.read_time == null)">Unread</span>
            </span>
        </div>

        <div ng-if="user.lastMessage" class="justify-content-between d-flex">
            <span class="font-italic" ng-class="{'font-weight-bold' : ((user.lastMessage != null) && (user.lastMessage.read_time == null))}">
                {{user.lastMessage.id_sender==user_id ? "ME: " : users[user.lastMessage.id_sender].full_name + ": "}}
                {{user.lastMessage.data}}
            </span>
            <span class="font-italic">{{user.lastMessage.send_time | date:'yyyy-MM-dd HH:mm:ss'}}</span>
        </div>
        <div ng-if="!user.lastMessage">
            No messages
        </div>
    </a>
</ul>

<a href="#!/chats" class="btn btn-dark col-12 my-2" ng-if="chatId != null">All chats</a>

<div ng-if="chatId != null">
    Chat with
    <span class="font-weight-bold">
        {{users[chatId].full_name}}
    </span>
    <span ng-show="chatId==user_id">(You)</span>
</div>

<form ng-show="chatId != null">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon1"><i class="far fa-envelope"></i></span>
            <input class="form-control" type="text" name="messageToSend" ng-model="messageToSend" placeholder="Type message here" autocomplete="off">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-success" ng-click="sendMessage()" ng-disabled="(messageToSend.length==0)"><i class="fas fa-pencil-alt"></i></button>
            </span>
        </div>
    </div>
</form>

<ul class="list-group" ng-if="chatId != null">
    <li class="list-group-item" ng-class="{'text-success' : (message.id_sender == user_id), 'text-primary' : (message.id_sender != user_id)}" ng-repeat="(msg_id, message) in messages[chatId] |  orderObjectBy:'send_time':true">
        <div class="justify-content-between d-flex">
            <span ng-if="message.id_sender == user_id" class="font-weight-bold">ME: </span>
            <span ng-if="message.id_sender != user_id" class="font-weight-bold">{{users[chatId].full_name}}: </span>
            <span class="font-italic">{{message.send_time | date:'yyyy-MM-dd HH:mm:ss'}}</span>
        </div>
        <div ng-class="{'font-weight-bold' : (message.read_time == null)}">
            {{message.data}}
        </div>
        <span ng-if="message.read_time == null">(unread)</span>
    </li>
</ul>

<a href="" class="btn btn-secondary col-12 my-2" ng-if="chatId != null" ng-click="loadMoreMessages()">Load more messages</a>

