<h1>Login page</h1>

<div class="alert alert-danger" ng-show="errorMessage!=null">
    {{errorMessage}}
</div>

<form>
    <div class="form-group">
        <label>Login:</label>
        <input type="text" class="form-control" name="inputLogin" ng-model="inputLogin" autofocus ng-readonly="waitForResponse">
    </div>
    <div class="form-group">
        <label>Password:</label>
        <input type="password" class="form-control" name="inputPassword" ng-model="inputPassword" ng-readonly="waitForResponse">
    </div>
    <button type="submit" class="btn btn-success" ng-click="onLoginClick()" ng-disabled="waitForResponse">
        Login
        <i class="fas fa-spinner fa-spin" ng-show="waitForResponse"></i>
    </button>
</form>