<h1>Profile</h1>

<div class="alert alert-info" ng-show="updated">
    Profile updated
</div>

<form class="">
    <div class="form-group">
        <label>
            Login
        </label>
        <div class="input-group">
            <!--<span class="input-group-addon">1</span>-->
            <input type="text" class="form-control" name="input_user_login" ng-model="input_user_login" readonly="readonly" disabled="disabled">
        </div>
    </div>
    <div class="form-group">
        <label>
            Full name
        </label>
        <div class="input-group">
            <!--<span class="input-group-addon">1</span>-->
            <input type="text" class="form-control" name="input_user_full_name" ng-model="input_user_full_name">
        </div>
    </div>
    <div class="form-group">
        <label>
            Password
        </label>
        <div class="input-group">
            <!--<span class="input-group-addon">1</span>-->
            <input type="password" class="form-control" name="input_user_password" ng-model="input_user_password">
        </div>
        <span class="font-italic">Left it empty to don't change password</span>
    </div>
    <div class="form-group">
        <label>
            Is admin
        </label>
        <div class="input-group">
            <!--<span class="input-group-addon">1</span>-->
            <select class="form-control" name="input_user_admin" ng-model="input_user_admin" readonly="readonly" disabled="disabled">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>
            Is active
        </label>
        <div class="input-group">
            <!--<span class="input-group-addon">1</span>-->
            <select class="form-control" name="input_user_active" ng-model="input_user_active" readonly="readonly" disabled="disabled">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>
            Generate new user key
        </label>
        <div class="input-group">
            <!--<span class="input-group-addon">1</span>-->
            <select class="form-control" name="input_user_key_upd" ng-model="input_user_key_upd">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </div>
        <span class="font-italic">On key update all session will be invalidated</span>
    </div>
    <button type="submit" class="btn btn-success" ng-click="updateUser()">Store</button>
</form>
