<h1>Register</h1>

<div class="alert alert-danger" ng-show="!allow_register">
    Regisrtarion on this server is disabled by admin. Only admin can create new users
</div>

<div ng-show="allow_register">
    <div class="alert alert-danger" ng-show="errorMessage!=null">
        {{errorMessage}}
    </div>

    <div class="alert alert-info" ng-show="infoMessage!=null">
        {{infoMessage}}
    </div>

    <form class="">
        <div class="form-group">
            <label>
                Login
            </label>
            <div class="input-group">
                <!--<span class="input-group-addon">1</span>-->
                <input type="text" class="form-control" name="input_user_login" ng-model="input_user_login" ng-readonly="waitForResponse">
            </div>
        </div>
        <div class="form-group">
            <label>
                Full name
            </label>
            <div class="input-group">
                <!--<span class="input-group-addon">1</span>-->
                <input type="text" class="form-control" name="input_user_full_name" ng-model="input_user_full_name" ng-readonly="waitForResponse">
            </div>
        </div>
        <div class="form-group">
            <label>
                Password
            </label>
            <div class="input-group">
                <!--<span class="input-group-addon">1</span>-->
                <input type="password" class="form-control" name="input_user_password" ng-model="input_user_password" ng-readonly="waitForResponse">
            </div>
        </div>
        <div class="form-group">
            <label>
                Password repeat
            </label>
            <div class="input-group">
                <!--<span class="input-group-addon">1</span>-->
                <input type="password" class="form-control" name="input_user_password" ng-model="input_user_password_repeat" ng-readonly="waitForResponse">
            </div>
        </div>
        <button type="submit" class="btn btn-success" ng-click="register()">Register <i class="fas fa-spinner fa-spin" ng-show="waitForResponse"></i></button>
    </form>
</div>