<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">Chat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#!/">Home</a>
            </li>
            <li class="nav-item" ng-if="isLoggedIn">
                <a class="nav-link" href="#!/chats">Chats <span class="badge badge-info" ng-show="unreadChats>0">{{unreadChats}}</span></a>
            </li>
            <li class="nav-item" ng-if="isAdmin">
                <a class="nav-link" href="#!/admin">Admin</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" ng-if="isLoggedIn">
                <a class="nav-link dropdown-toggle" href="" id="navbarUserDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{user}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarUserDropdown">
                    <a class="dropdown-item" href="#!/profile">Profile</a>
                    <a class="dropdown-item" href="" ng-click="logout()">Logout</a>
                </div>
            </li>
            <li class="nav-item" ng-if="((!isLoggedIn) && (allowRegister))">
                <a class="nav-link" href="#!/register">Register</a>
            </li>
            <li class="nav-item" ng-if="!isLoggedIn">
                <a class="nav-link" href="#!/login">Login</a>
            </li>
        </ul>
    </div>
</nav>